@{
    ViewBag.Title = "VIN SHOP";
    
}


<br />
<div class="row">
    <div class="col-md-8">
       @Html.Action("SlidePartial","Home")
    </div>
    <div class="col-md-4">
        <img src="~/HinhanhSP/quangcao6.jpg" class="img-responsive" alt="" height="500" width="350" />
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>
<div>
    <font><marquee direction="left" style="background:orange">Vinshop- Điện thoại và phụ kiện chất lượng giá cả hợp lý</marquee></font>
</div>
<div>
    <img class="img-responsive" src="~/HinhanhSP/ban4.jpg" />
</div>
<br />
<div class="spnoibat">
    <div class="row">

        <h3> TIN NỔI BẬT</h3>
        <div class="col-md-4">
            <img src="~/HinhanhSP/spnb1.png" class="img-responsive" alt="" />
        </div>
        <div class="col-md-4">
            <img src="~/HinhanhSP/spnb2.png" class="img-responsive" alt="" />
        </div>
        <div class="col-md-4">
            <img src="~/HinhanhSP/spnb3.png" class="img-responsive" alt="" />
        </div>
    </div>
</div>
<div class="danhmuc">
    @Html.Action("DanhmucPartial", "Danhmuc")
    @Html.Action("PhuKienPartial", "Danhmuc")
</div>
<div class="dt">

    @Html.Action("sanphammoi", "Sanpham")
</div>

<div class="dt">

    @Html.Action("TinTucpartial", "TinTuc")
</div>

